# dependencies
node_modules
.pnpm-store

# next.js
.next
out

# production
build
dist

# debug
npm-debug.log*

# env files
.env
.env*.local

# prisma
prisma/dev.db
prisma/dev.db-journal

# misc
.DS_Store
*.pem

# typescript
*.tsbuildinfo
next-env.d.ts

# uploads
public/uploads/*
!public/uploads/.gitkeep